{% extends "layouts/base.html" %}

{% block content %}
    <h2>{{ _('Загрузка файла со скидками (Excel)') }}</h2>
    <p class="text-muted">
        {{ _('Вы можете скачать актуальный шаблон, чтобы заполнить его и загрузить обратно в систему.') }}
    </p>

    <a href="{{ url_for('discount.download_template') }}" class="btn btn-golden-outline w-20">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
          <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
          <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
        </svg>
        {{ _('Скачать шаблон') }}
    </a>

    <hr>

    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.excel_file.label }}
            {{ form.excel_file(class="form-control-file") }}
            {% if form.excel_file.errors %}
                {% for error in form.excel_file.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}